.bg-light-theme {
    background: linear-gradient(#ebf4f5, #b5c6e0);
    background-size: cover;
    background-size: 400% 400%;

    animation: AnimationName 1s ease infinite;
    min-height: 100vh;
}

.bg-dark-theme {
    background: linear-gradient(#454545, #424242);
    background-size: cover;
    background-size: 400% 400%;

    animation: AnimationName 1s ease infinite;
    min-height: 100vh;
}


@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
    background: transparent !important;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container-main {
    margin-top: 80px;
}

.navbar {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: 1.5em;
}

.navbar-nav {
    margin-right: auto !important;
}

.navbar-toggler {
    margin-right: 10px;
}

.navbar-brand {
    font-size: 1.7em!important;
    margin: 0 !important;
    padding-top: 0 !important;
    color: #FF5252 !important;
}

.greeting-text {
    color: #FF5252 !important;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1, h2, h3 {
    color: #FF5252;
}

th {
    font-size: 1.2em;
}

.bi-star-fill, .bi-star {
    color: #FF5252 !important;
}

.error-page-illustration {
    width: 50%;
    height: auto;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        flex-direction: column-reverse !important;
    }
}