<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/styles.css' %}"/>
    <title>E-Learning WebApp - {% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<div>
    <h1>{% block myhdg %} Hello {{ user.get_username|default:"User" }} {% endblock %}</h1>
    {% block body_block %}  {% endblock %}
</div>
<hr/>
<div>
    <ul class="footer--list">
        {% if request.resolver_match.url_name != "index" %}
            <li class="hbar1"><a href="{% url 'myapp:index' %}">Home</a><br/></li>
        {% endif %}

        {% if request.resolver_match.url_name != "about" %}
            <li class="hbar1"><a href="{% url 'myapp:about' %}">About</a></li>
        {% endif %}

        {% if request.resolver_match.url_name != "find_courses" %}
            <li class="hbar1"><a href="{% url 'myapp:find_courses' %}">Search Courses</a><br/></li>
        {% endif %}

        {% if request.resolver_match.url_name != "place_order" %}
            <li class="hbar1"><a href="{% url 'myapp:place_order' %}">Place Order</a><br/></li>
        {% endif %}

        {% if request.resolver_match.url_name != "review" %}
            <li class="hbar1"><a href="{% url 'myapp:review' %}">Review Course</a><br/></li>
        {% endif %}

        {% if not user.is_authenticated %}
            {% if request.resolver_match.url_name != "login" %}
                <li class="hbar1"><a href="{% url 'myapp:login' %}">Login</a><br/></li>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            {% if request.resolver_match.url_name != "myaccount" %}
                <li class="hbar1"><a href="{% url 'myapp:myaccount' %}">Account</a><br/></li>
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            <li class="hbar1"><a href="{% url 'myapp:logout' %}">Logout</a><br/></li>
        {% endif %}
    </ul>
</div>
</body>
</html>