{% extends 'myapp/base.html' %}
{% block body_block %}
    <h2 class="mt-2">{{ course.title }} - <span class="badge bg-primary">${{ course.price }}</span></h2>

    {% if reviews %}
        <h3>Reviews for the course</h3>
        <table class="table">
            <tr>
                <th>Rating</th>
                <th>Comments</th>
                <th>User</th>
            </tr>
            {% for review in reviews %}
                <tr>
                    <td> {{ review.rating }} </td>
                    <td> {{ review.comments|default:"no comments given" }} </td>
                    <td> {{ review.reviewer }} </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>No reviews yet!</h3>
        <a class="btn btn-primary mb-2" href="{% url "myapp:review" %}">Add a review</a>
    {% endif %}

    {% if students %}
        <h3>Students registered in the course</h3>
        <ol class="list-group list-group-flush">
            {% for student in students %}
                <li class="list-group-item">{{ student.first_name }} {{ student.last_name }}</li>
            {% endfor %}
        </ol>

    {% else %}
        <h3>No students registered yet!</h3>
    {% endif %}
{% endblock %}