{% extends 'myapp/base.html' %}
{% block body_block %}
    <h2>{{ topic.name }} - {{ topic.length }} weeks</h2>
    {% if course_list %}
        <h3>List of Courses in the topic</h3>
        <table class="table">
            <tr>
                <th>Course</th>
                <th>Price</th>
            </tr>
                {% for course in course_list %}
                    <tr>
                        <td> {{course.title}} </td>
                        <td> {{ course.price }} </td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}
{% endblock %}