{% extends 'myapp/base.html' %}
{% block body_block %}
    <h2>{{ topic.name }} - {{ topic.length }} weeks</h2>
    {% if course_list %}
        <h3>Courses in the topic</h3>
        <table class="table">
            <tr>
                <th>Course</th>
                <th>Price</th>
            </tr>
                {% for course in course_list %}
                    <tr>
                        <td> <a href="{% url "myapp:course" course_id=course.id %}">{{course.title}}</a> </td>
                        <td> {{ course.price }} </td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}
    {% if students %}
        <h3>Students interested in the Topic</h3>
        <div class="row">
            <div>
                <ol class="list-group list-group-flush">
                    {% for student in students %}
                        <li class="list-group-item">{{ student.first_name }} {{ student.last_name }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

    {% else %}
        <h3>No students registered yet!</h3>
    {% endif %}
{% endblock %}