{% extends 'myapp/base.html' %}
{% block body_block %}
    <h2>{{ topic.name }} - {{ topic.length }} weeks</h2>
    {% if course_list %}
        <h3 class="mt-3">Courses in the topic</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for course in course_list %}
                    <tr>
                        <td> <a href="{% url "myapp:course" course_id=course.id %}">{{course.title}}</a> </td>
                        <td> {{ course.price }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            <strong>There are no available courses!</strong>
        </div>
    {% endif %}
    {% if students %}
        <h3 class="mt-3">Students interested in the Topic</h3>
        <div class="row">
            <div>
                <ol class="list-group">
                    {% for student in students %}
                        <li class="list-group-item">{{ student.first_name }} {{ student.last_name }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

    {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            <strong>No student has shown interest yet!</strong>
        </div>
    {% endif %}
{% endblock %}