{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block body_block %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error</h4>
            <h5 class="text-danger">{{ errors }}</h5>
        </div>
    {% endif %}
    {% if helptext %}
        <h5>{{ helptext }}</h5>
    {% endif %}
    <form class="forgetpassword__form" action="{% url 'myapp:forget_password' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" name="submit" value="Send new password to me"/>
    </form>

{% endblock %}