{% extends 'myapp/base.html' %}
{% load level_choices %}
{% load order_status %}
{% block myhdg %}
    {{ block.super }}
    <a href="{% url "myapp:edit_profile" %}" title="Edit profile" data-bs-toggle="tooltip" data-bs-placement="right">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square"
             viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
    </a>
{% endblock %}
{% block myaccount %}
    {% if not user.is_superuser %}
    <div class="row row-cols-1 row-cols-lg-6 row-cols-md-3 g-1 w-100 mt-3">
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">Email</h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">{% if user.student.email %}
                        <a href="mailto:{{ user.student.email }}">
                            {{ user.student.email|default:"Not provided!" }}
                        </a>
                    {% else %}
                        Not provided
                    {% endif %}</h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">Username</h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">
                        {{ user.username|default:"Not provided!" }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">Province</h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">
                        {{ user.student.province|default:"Not provided!" }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">City</h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">
                        {{ user.city|default:"Not provided!" }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">Level</h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">
                        {{ user.student.level|level|default:"Not provided!" }}
                    </h6>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <h5 class="card-header">Date Joined</h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">
                        {{ user.date_joined|default:"Not found!" }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block body_block %}
    {% if error %}
        <div class="alert alert-danger mb-0" role="alert">
            <strong>{{ error }}</strong>
        </div>
    {% else %}
        {% if courses %}
            <h3>Courses registered in</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Course</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td><a href="{% url "myapp:course" course_id=course.id %}">{{ course.title }}</a></td>
                        <td> {{ course.price }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No courses registered in!
            </div>
        {% endif %}

        {% if interested_in %}
            <h3>Topics interested in</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Length</th>
                </tr>
                </thead>
                <tbody>
                {% for topic in interested_in %}
                    <tr>
                        <td><a href="{% url "myapp:details" topic_id=topic.id %}"> {{ topic.name }} </a></td>
                        <td> {{ topic.length }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No topics interested in!
            </div>
        {% endif %}

        {% if orders %}
            <h3>Orders placed</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>
                            {% for name in order.courses.all %}
                                <a href="{% url "myapp:course" course_id=name.id %}">{{ name.title }}</a> |
                            {% endfor %}
                        </td>
                        <td> {{ order.order_date }} </td>
                        <td> {{ order.order_status|status }} </td>
                        <td> {{ order.total_cost }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No orders placed!
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block scripts %}
    <script>
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}