{% extends 'myapp/base.html' %}
{% block myhdg %}
    {% if first_name or last_name %}
        Hello {{ first_name }} {{ last_name }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block body_block %}
    {% if error %}
        <div class="alert alert-danger mb-0" role="alert">
            <h3 class="text-danger">{{ error }}</h3>
        </div>
    {% else %}
        {% if courses %}
            <h3>List of Courses registered in</h3>
            <table class="table">
                <tr>
                    <th>Course</th>
                    <th>Price</th>
                </tr>
                {% for course in courses %}
                    <tr>
                        <td><a href="{% url "myapp:course" course_id=course.id %}">{{ course.title }}</a></td>
                        <td> {{ course.price }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No courses registered in!
            </div>
        {% endif %}

        {% if interested_in %}
            <h3>List of Topics interested in</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Length</th>
                </tr>
                {% for topic in interested_in %}
                    <tr>
                        <td><a href="{% url "myapp:details" topic_id=topic.id %}"> {{ topic.name }} </a></td>
                        <td> {{ topic.length }} </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="alert alert-warning" role="alert">
                No topics interested in!
            </div>
        {% endif %}
    {% endif %}

{% endblock %}