{% extends 'myapp/base.html' %}
{% block body_block %}
    <hr/>
    {% if courses %}
        <h2>You placed the following order</h2>
        <h3>{{ order }}</h3>
        <table class="table">
            <tr>
                <th>Course</th>
                <th>Category</th>
                <th>Price (in $)</th>
            </tr>
            {% for course in courses %}
                <tr>
                    <td> <a href="{% url "myapp:course" course_id=course.id %}">{{ course.title }}</a> </td>
                    <td> {{ course.topic }} </td>
                    <td> {{ course.price }} </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td> {{ order.total_cost }} </td>
                </tr>
        </table>
    {% else %}
        <strong>No courses orderder!</strong>
    {% endif %}
    <h3>
        <a href="{% url 'myapp:place_order' %}">Place a new Order</a>
    </h3>
{% endblock %}