{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Review a course {% endblock %}
{% block body_block %}
    <h2>Add a review</h2>
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error</h4>
            <strong>{{ errors }}</strong>
        </div>
    {% endif %}
    <form class="review__form" action="{% url 'myapp:review' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" name="submit" value="Add Review"/>
    </form>
{% endblock %}